@tailwind base;
@tailwind components;
@tailwind utilities;

.shadow-even {
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
}

.shadow-even-md {
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);
}

.shadow-even-lg {
  box-shadow: 0 0 24px rgba(0, 0, 0, 0.3);
}

.backdrop-blur-custom {
  backdrop-filter: blur(10px);
  /* For most modern browsers */
  -webkit-backdrop-filter: blur(10px);
  /* For Safari and iOS */
}